.btn-card {
    width: 38px;
    height: 38px;
    overflow: hidden;
}
.add {
    width: auto;
    height: auto;
}
.px-4 {
    width: 100px;
    height: 38px;
    overflow: hidden;
}
.website-title {
    background-color: #232f3e;
    color: white;
}
.input-search {
    width: 1500px;
    height: 40px;
}
.btn-cart {
    width: 100px;
    height: 40px;
    font-size: 20px
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}
.subtotal {
    color: #B12704
}