.task {
    color: black;
    font-weight:bold;
}
.completed {
    color: darkblue;
    font-weight:bold;
}
.edit-label {
    color: darkgray;
    font-weight:bold;
}
.completed-label {
    color:blue;
    font-weight:bold;
}